#github "pmusolino/PMAlertController"
#github "Alamofire/Alamofire"
#github "onevcat/Kingfisher"
#github "SwiftyJSON/SwiftyJSON"
#github "ashleymills/Reachability.swift"
#github "evgenyneu/Cosmos" ~> 16.0
#github "AssistoLab/DropDown" ~> 2.3.4

#github "JonasGessner/JGProgressHUD"

#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseProtobufBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseInAppMessagingBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"

#github "Alamofire/Alamofire"  ~> 4.9.1

github "facebook/Facebook-SDK-Swift"